<%
value_map = measure('value-map');
%>
<div class="dashbox">
  <h3>User Story Specific Value</h3>
  
  <br>
  <p>
    Plugin Configured For User Stories : <%= configuration('sonar.code.userstory') -%><br/>
  </p>
  
  <br>
  <table width="100%" border="1">
  <tr>
  <td>
  				User Story Number
  			</td>
  			<td align="right"> 
  				Value Percentage
  			</td>
  				<td align="right"> 
  					Value Graph
  			</td>
  </tr>
  	<%
  	values = value_map.text_value.split(";")
  		values.each do |value_with_percentage|
  			value_with_percentage_array = 
  				value_with_percentage.split("=")
  				%>
  		<tr>
  			<td align="left">
  				<%= value_with_percentage_array[0] -%>
  			</td>
  			<td align="right" style="padding-left: 10px;"> 
  				<%= value_with_percentage_array[1] -%>%
  				<% percent = value_with_percentage_array[1]; %>
  				<% graph_string = "cht=bhs&chco=00FF00,FF0000&chs=150x25&chd=t:" + percent + "|" + (100-percent.to_f).to_s; %>
  			</td>
  			<td style="padding-left: 10px;">
  				<%= gchart(graph_string); -%>
  			</td>
  		</tr>
  		<% end %>
  </table>
</div>